body {
  background-color: #FEEFAD;
}

.title {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.picture {
  max-width: 600px;
}




