body {
  background-color: #FEEFAD;
}

.title {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);/* 3 колонки равной ширины */
  gap: 20px;/* расстояние между ячейками */
  padding: 20px;
}

.picture {
  max-width: 600px;
}

.descr {
  font-weight: 700;
  font-size: 23px;
}

span {
  font-size: 26px;
  color: rgb(194, 5, 5);
}




